
/* General styles for the contact page */
.contact-page.light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ffffff, #f0f4f8);
  padding: 20px;
}

.contact-page.dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
  padding: 20px;
}

.title-contact.dark {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.title-contact.light {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}


.contact-form.light {
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
}

.contact-form.dark {
  width: 100%;
  max-width: 600px;
  background: #131212;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
  border: 1px solid;
}

.contact-label {
  display: block;
  font-size: 1rem;
  color: #555;
  margin-bottom: 8px;
}

.contact-input, 
.contact-textarea {
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  transition: all 0.3s;
}

.contact-input:focus, 
.contact-textarea:focus {
  outline: none;
  border-color: #007BFF;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contact-textarea {
  min-height: 120px;
  resize: vertical;
}

.contact-submit {
  display: inline-block;
  background: #007BFF;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
}

.contact-submit:hover {
  background: #0056b3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* Add spacing and alignment */
.contact-form input:not([type="submit"]), 
.contact-form textarea {
  margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-form {
    padding: 20px;
  }

  .title-contact {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .contact-form {
    padding: 15px;
  }

  .contact-input, .contact-textarea {
    font-size: 0.9rem;
  }

  .contact-submit {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
