/* Base styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Light mode styles */
body.light {
  background-color: #ffffff;
  color: #000000;
}

.App.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
body.dark {
  background-color: #181818; /* Deep Charcoal */
  color: #EAEAEA; /* Light Gray */
}

.App.dark {
  background-color: #222222; /* Soft Black */
  color: #EAEAEA; /* Light Gray */
}

.features-section.dark {
  background-color: #222222; /* Soft Black */
  color: #EAEAEA; /* Light Gray */
  border-radius: 10px;
  padding: 20px;
}

/* Theme toggle button styling */
.theme-toggle {
  text-align: right;
  padding: 10px;
}

.theme-toggle button {
  position: fixed;
  margin-left: -2%;
  padding: 8px 12px;
  background-color: #4A90E2; /* Cool Blue */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  z-index: 1000;
}

.theme-toggle button:hover {
  background-color: #357ABD; /* Darker Blue */
  transform: scale(1.05);
}

/* Additional Dark Mode Enhancements */
.card {
  background-color: #292929; /* Slightly Lighter Gray */
  color: #EAEAEA;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.border {
  border: 1px solid #333333; /* Dark Gray */
}

a {
  color: #FF4081; /* Vibrant Pink */
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ff79b0; /* Lighter Pink */
}
