/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-project-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #302f2f8d;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #673ab7;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

input[type="text"],
input[type="url"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus,
input[type="file"]:focus {
    border: 1px solid #7e57c2;
    box-shadow: 0px 0px 8px rgba(126, 87, 194, 0.3);
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    padding: 15px;
    background-color: #5e35b1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #7e57c2;
    box-shadow: 0px 4px 10px rgba(94, 53, 177, 0.4);
}

/* Responsive Design */
@media (max-width: 768px) {
    .add-project-container {
        padding: 15px;
    }

    label {
        font-size: 0.9em;
    }

    button[type="submit"] {
        font-size: 1em;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .add-project-container {
        padding: 10px;
    }

    label {
        font-size: 0.8em;
    }

    button[type="submit"] {
        font-size: 0.9em;
        padding: 10px;
    }
}
